.foto__wrapper {
  margin-bottom: 150px;
  .foto__schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    .schedule__text {
      font-family: 'Montserrat', sans-serif;
      font-size: 48px;
      margin-bottom: 50px;
    }
    .schedule__foto {
      transform: scale(1);
      transition: transform 0.5s ease-in-out;
      &:hover {
        transform: scale(1.35);
        
      }
    }
  }
  .inst__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    text-align: center;
    margin-bottom: 35px;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #35c74d;
    }
  }
  .foto__inst {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
  }
}
